@model Mvc_Stok.Models.Entity.TBL_MUSTERILER
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERİID)
        @Html.TextBoxFor(m => m.MUSTERİID, new { @class = "form-control" })
        <br>
        @Html.LabelFor(m => m.MUSTERIAD)
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        <br>
        @Html.LabelFor(m => m.MUSTERİSOYAD)
        @Html.TextBoxFor(m => m.MUSTERİSOYAD, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>

}

